<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.brohkahn.pingserver"
		  android:versionCode="1"
		  android:versionName="1.0">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

	<application
			android:allowBackup="true"
			android:fullBackupContent="@xml/full_backup_content"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">
		<activity
				android:name=".MainActivity"
				android:launchMode="singleInstance"
				>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
				android:name=".PingListView"
				android:label="@string/action_view_pings"/>
		<activity
				android:name=".AddServer"
				android:label="@string/activity_add_ping"/>
		<activity
				android:name=".AboutActivity"
				android:label="@string/activity_about"/>
		<activity
				android:name=".SettingsActivity"
				android:label="@string/title_activity_settings"
				android:theme="@style/AppTheme_WithActionBar"/>

		<receiver android:name=".BootCompletedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<receiver android:name=".PingServerReceiver">
			<intent-filter>
				<action android:name="com.brohkahn.pingserver.action.ping"/>
			</intent-filter>
		</receiver>

		<service android:name=".PingServerService"/>
		<service android:name=".StartTimerService"/>

	</application>

</manifest>